body{
    font-family: Arial, Helvetica, sans-serif;
}
.admin{
    background-color: #cdcee1;
    height: 100%;
    padding: 20px;
}
.adminDetails{
    background-color: #b3e5fc;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.admheader{
    text-align: center;
    margin-bottom: 20px;
}
.userTable{
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: #8589b3;
    color: white;
}
th {
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
}
td{
    text-align: left;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}
.logoutButton {
    background-color: #ffffff;
    color: rgb(255, 1, 1);
    width: 13%;
    border: none;
    padding: 1% 2%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 80%;
    margin-left: auto;
  }
  
  .logoutButton:hover {
    background-color: #bcbbbb;
  }
  .countUers{
    font-weight: bold;
    color: #000000;
    text-align: right;
    margin: 0;
}
  .userDetails{
    font-weight: bold;
    color: #000000;
    text-align: left;
    margin: 0;
}
.userDetailsSection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .admin {
        padding: 10px;
    }

    .adminDetails {
        width: 100%;
    }

    .userTable {
        padding: 15px;
    }

    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 8px;
    }

    .logoutButton {
        font-size: 0.9rem;
        padding: 8px;
        width: auto;
    }

    .userDetailsSection {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 480px) {
    .userTable {
        padding: 10px;
    }

    table {
        font-size: 0.5rem;
    }

    th, td {
        padding: 6px;
    }

    .logoutButton {
        font-size: 0.8rem;
        padding: 6px;
    }
    .adminDetails{
        width: 100%;
    }
    .admin{
        height: 100vh;
    }
}